{
  "parser": "typescript",
  "singleQuote": true,
  "tabWidth": 4,
  "semi": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": ["^(apis|locales|configs|entities|interfaces|frameworks|plugins|shared|utils)/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"]
}
